*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
 
    margin: 0 auto;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-block: 20px;
    /* scroll-behavior: smooth; */

}

.card{
   scroll-snap-align: start;
   margin-inline: 30px;
   max-width: 200px;
   min-width: 200px;
   height: 300px;
   background-color: red;
   box-shadow: 5px 5px 5px black;
   overflow: hidden;
   display: flex;
   justify-content: center;
}
.card img{
    height: 100%;
    /* display: none; */
}
